@use '../../styles/modules/colors';

.results-item {
    // max-height: 200px;
    display: grid;
    grid-template-columns: 15% 85%;
}

.results-sort {
    display: flex;
    width: 100%;
    justify-content: flex-end;

    label {
        font-weight: bold;
    }
}

#sorting-options {
    background-color: colors.$grey;
}

#sorting-options:focus {
    outline: none;
}

.filter-option-container {
    width: 100%;
    padding-right: 16px;
    margin-bottom: 30px;
}

.filter-title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.25;
    color: #333;
}

.filter-option {
    color: #666;
    font-weight: 400;
    font-size: 14px;
    margin-left: 0;
    white-space: nowrap;
}

.filter-qty {
    font-size: 14px;
    font-weight: 300;
    color: #999;
    margin-left: 6px;
}