.page-loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(60, 60, 60, .65);
    display: flex;
    justify-content: center;

    img {
        margin-top: 50px;
        height: 50%;
    }
}