@use '/src/styles/modules/colors';

a:link {
  color: colors.$link;
}

a:visited {
  color: colors.$link;
}

a, a:hover, a:link, a:visited {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  
}